html {
  background: $color-black;
  font-family:'Dorsa', cursive;
  letter-spacing: 7px;
  font-size: 16px;
}
.header {
  position: absolute;
  width: 34%;
  top: 1rem;
  left: 1rem;
}
img {
  max-width: 100%;
}
.panel {
  background: $color-white;
  color: $color-white;
  text-align: center;
  font-weight: 800;
  transition: font-size 0.85s ease-out, flex 0.85s ease-out, background 0.9s;
  background-size:cover;
  background-position:center;

  .p {
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: none;
    margin:0;
    width: 100%;
    transition:transform 0.9s;

    &:first-child  {
      display: none;
    }
  }

  &.open {
    font-size: 3rem;
    box-shadow: -5px 0 60px $color-black, 6px 0 60px $color-black;
    z-index: 2;

    .p {

      &:first-child {
        transform: translateY(-40%) translateX(26%);
      }
    }
  }

}
.panel1 { background-image:url('../img/politics.jpg'); }
.panel2 { background-image:url('../img/wild.jpg'); }
.panel3 { background-image:url('../img/dragon-snake.jpg'); }
.panel4 { background-image:url('../img/paint.JPG'); }
.panel5 { background-image:url('../img/memory.JPG'); }


.footer {
  li {
    list-style: none;
    a {
      color: $color-black;
    }
  }
  .fa-4x {
    font-size: 8em;
  }
}

@media screen and (min-width: 64.900rem) {
  .header {
    width: 16%;
  }

  .panel {
    .p {
      &:first-child {
        transform: translateY(0);
        display: flex;
        font-size: 2.5em;
      }
    }
  }
}