html {
  box-sizing: border-box;

  body {
    margin: 0;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .p {
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      align-items: center;
    }

    &.open {
      flex: 8;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

@media screen and (min-width: 62.500rem) {
  .panels {
    flex-direction: row;

    .panel {
      &.open {
        flex: 5;
      }
    }
  }
}